@model IMDB.Models.Event

@{
    ViewBag.Title = "Delete Event";
}

<h1>Delete Event</h1>

<section>
    <div>

        @using (Html.BeginForm("Delete", "Event", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <label for="name">Name</label>
            <input type="text" id="name" value="@Model.Name" disabled> //Polzvaiki modela mojem da vmukvame informaciq ot nego v tozi fail
            <label for="location">Location</label>
            <input type="text" id="location" value="@Model.Location" disabled>
            <label for="startDateAndTime">Start Date And Time</label>
            <input type="datetime-local" id="startDateAndTime" value="@Model.StartDateAndTime" disabled> //poletata sa DISABLED TOEST NE MOJEM DA GI PROMENQME
            <label for="endDateAndTime">End Date And Time</label>
            <input type="datetime-local" id="endDateAndTime" value="@Model.EndDateAndTime" disabled>

            <button type="submit" class="accept">Delete</button>
            <a onclick="location.href='/'" class="cancel">Cancel</a>
        }

    </div>
</section>

