@model IMDB.Models.Event

@{
    ViewBag.Title = "Edit Event";
}
<!--Podobno e na delete-->
<h1>Edit Event</h1>

<section>
    <div>

        @using (Html.BeginForm("Edit", "Event", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <label for="name">Name</label>
            <input type="text" id="name" value="@Model.Name" name="name">
            <label for="location">Location</label>
            <input type="text" id="location" value="@Model.Location" name="location">
            <label for="startDateAndTime">Start Date And Time</label>
            <input type="datetime-local" id="startDateAndTime" value="@Model.StartDateAndTime" name="startDateAndTime">
            <label for="endDateAndTime">End Date And Time</label>
            <input type="datetime-local" id="endDateAndTime" value="@Model.EndDateAndTime" name="endDateAndTime">
            
            <button type="submit" class="accept">Update</button>
            <a onclick="location.href='/'" class="cancel">Cancel</a>
        }

    </div>
</section>