<tr>
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td>{{quantity}}</td>
    <td>{{totalPrice}}</td>    
    <td><button><a href="#/discart/{{product._id}}">Discart</a></button></td>
</tr>
