
@model IEnumerable<CarsRentalSystem.Models.Renting.UserRentingModel>
@{
    ViewBag.Title = "Rentings";
}

<h2 class="text-center">My Rentings</h2>

<table class="table table-bordered table-responsive table-striped table-hover">
   

   <!--Pravim go th zashtoto e BOLD-->
       <th>Name: </th>
       <th>Image:</th>
       <th>Rented On: </th>
       <th>Days: </th>
       <th>TotalPrice: </th>
   

    @foreach(var renting in Model) {

        // Za vseki renting v Modela iskame da ima nov red s nqkolko koloni vutre
        <tr>
            <td>@renting.CarName</td>
            <td> <img src="@renting.CarImageUrl" style="width:70px"/></td>
            <td>@renting.RentedOn.ToString("dd/MM/yyyy")</td> <!--Pishem si i formata koito iskame-->
            <td>@renting.Days</td>
            <td>@renting.TotalPrice</td>
        </tr>
    }

</table>


