@model FindMyPet.Web.Models.ViewModels.PaginationViewModel

@{
    ViewData["Title"] = "All";

    string petStyle = "petStyle";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center revealOnScroll" data-animation="rollIn">
        <h1 class="display-3">All Pets</h1>
    </div>
    <hr class="display-3" />


  
    @if (Model.Pets.Count > 1)
    {
        <div class="right">
            <partial name="_PetPartialView" />
        </div>
    }
    

    <div class="AllPetList">

        @foreach (var pet in Model.Pets)
        {

            @if (pet.Status != "Lost")
            {
                petStyle = "petFoundStyle";
            }
            else
            {
                petStyle = "petStyle";
            }
            <div class="classComix card col-sm-4 text-center @petStyle">

                <a class="pageLink" asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id">
                    @if (pet.ImageUrl != null && pet.ImageUrl != "")
                    {
                        <img class="revealOnScroll card-image-top img-fluid img-thumbnail" data-animation="jackInTheBox" data-timeout="600" src="@pet.ImageUrl" />
                    }
                    else
                    {
                        <img class="revealOnScroll card-image-top img-fluid img-thumbnail" data-animation="jackInTheBox" data-timeout="600" src="~/images/pet-lost-avatar.png" />
                    }

                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text">
                            <strong>Type</strong> : @pet.Type;
                        </p>
                        <p class="card-text">
                            <strong>Name</strong> : @pet.Name
                        </p>

                        <p class="card-text">
                            <strong>Age</strong> : @pet.Age
                        </p>

                        <p class="card-text">
                            <strong>Location Lost</strong> : @pet.LocationLost
                        </p>

                        <p class="card-text">
                            <strong>Time Lost</strong> : @pet.TimeLost
                        </p>
                    </div>
                </a>

                <div class="classButtons">
                    <a class="btn btn-primary col-3" asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id">Details <i class="fas fa-info"></i></a>
                    @if (pet.Status == "Lost" && pet.Owner.Email != this.User.Identity.Name)
                    {
                        <a class="btn btn-success col-3" asp-controller="Pets" asp-action="PetFound" asp-route-id="@pet.Id">Found <i class="far fa-check-circle"></i></a>
                    }

                    @if (this.User.Identity.Name == pet.Owner.Email || this.User.Claims.Any(c => c.Value == "Admin"))
                    {
                        <a class="btn btn-warning col-3" asp-route-id="@pet.Id" asp-page="/PetsPages/Edit">Edit <i class="far fa-edit"></i></a>
                        <a class="btn btn-danger col-3" asp-route-id="@pet.Id" asp-page="/PetsPages/Delete">Delete <i class="far fa-trash-alt"></i></a>
                    }
                </div>
            </div>
        }

    </div>

    @if (Model.Pets.Count == 0)
    {
        <h3 class="text-center">No pets in database.</h3>
    }
    else if (ViewData["allPetsLessThanThree"].ToString() == "True")
    { }
    else
    {

                    int first = 0;
                    int second = 0;
                    int third = 0;

                    string active1 = "";
                    string active2 = "";
                    string active3 = "";

                    int remainder = Model.Page % 3;

                    if (remainder == 1)
                    {
                        active1 = "active";
                        first = Model.Page;
                        second = Model.Page + 1;
                        third = Model.Page + 2;

                    }
                    else if (remainder == 2)
                    {
                        active2 = "active";
                        first = Model.Page - 1;
                        second = Model.Page;
                        third = Model.Page + 1;
                    }
                    else if (remainder == 0)
                    {
                        active3 = "active";
                        first = Model.Page - 2;
                        second = Model.Page - 1;
                        third = Model.Page;
                    }

        <div class="paginationDiv revealOnScroll" data-animation="fadeInUp">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" asp-controller="Pets" asp-action="Previous" asp-route-page="@Model.Page" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item @active1"><a class="page-link" asp-controller="Pets" asp-action="All" asp-route-page="@first">@first</a></li>
                    <li class="page-item @active2"><a class="page-link" asp-controller="Pets" asp-action="All" asp-route-page="@second">@second</a></li>
                    <li class="page-item @active3"><a class="page-link" asp-controller="Pets" asp-action="All" asp-route-page="@third">@third</a></li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Pets" asp-action="Next" asp-route-page="@Model.Page" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }

    <br />

}
else
{
    <h1>You must login first.</h1>
}


@section Scripts {
    <script src="~/js/scrolling-animations-functions.js"></script>
}