@model IList<FindMyPet.Web.Models.BindingModels.ListPetsBindingModel>

@{
    ViewData["Title"] = "All";
    ViewData["Style"] = "petStyle";
}


@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center titleDiv">
        <h1 class="display-3 classTitle">All Pets</h1>
    </div>
    <hr class="display-3" />


    @if (Model.Count > 1)
    {
        <partial name="_PetPartialView" />
    }

    <br />

    @foreach (var pet in Model)
    {
        
        <div class="card col-sm-4 text-center petStyle">

            <a class="pageLink" asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id">
                <img class="petImg card-image-top img-fluid img-thumbnail" src="@pet.ImageUrl" />
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <strong>Type</strong> : @pet.Type;
                    </p>
                    <p class="card-text">
                        <strong>Name</strong> : @pet.Name
                    </p>

                    <p class="card-text">
                        <strong>Age</strong> : @pet.Age
                    </p>

                    <p class="card-text">
                        <strong>Location Lost</strong> : @pet.LocationLost
                    </p>

                    <p class="card-text">
                        <strong>Time Lost</strong> : @pet.TimeLost
                    </p>

                </div>
            </a>

            <a class="btn btn-primary col-3" asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id">Details</a>
            @if (pet.Status == "Lost")
            {
                <a class="btn btn-success col-3" asp-controller="Pets" asp-action="PetFound" asp-route-id="@pet.Id">Found</a>
            }

            @if (this.User.Identity.Name == pet.Owner.Email || this.User.Claims.Any(c => c.Value == "Admin"))
            {

                <a class="btn btn-warning col-3" asp-route-id="@pet.Id" asp-page="/PetsPages/Edit">Edit</a>
                <a class="btn btn-danger col-3" asp-route-id="@pet.Id" asp-page="/PetsPages/Delete">Delete</a>
            }

        </div>

    }

    @if (Model.Count == 0)
    {
        <h3 class="text-center">No pets in database.</h3>
    }

    <br />

    <div>

        <div class="classButtons">

        </div>

    </div>

}
else
{

    <h1>You must login first.</h1>
}