<main>
    <h1>Latest Article</h1>
    <div class="catalog">
        {{#if article}}
        <br/>
        <div class="column">
            Title:
            <h2>{{article.title}}</h1>
                <br/>
                <br/>
                <hr/>
                <br/> Content:
                <h2>{{article.content}}</h2>
                <br/>
        </div>

        <br/>
        <div class="status">
            Creator: {{{article.creator.fullName}}}
        </div>

        <br/>
        <a href="/article/history/{{article.id}}">[Article History]</a>

        <br/> {{#if isAuthenticated}}
        <a href="/article/edit/{{article.id}}">[Edit Article]</a>
        {{/if}} {{else}} No latest Article. {{/if}}
    </div>
</main>