@model FindMyPet.Models.User
@{
    ViewData["Title"] = "MyProfile";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <div class="titleDiv">
                <h1 class="display-3 revealOnScroll" data-animation="zoomInDown"><strong>My Profile Page</strong></h1>
            </div>
            <br />
            <hr class="display-3" />

            <div>

                <br />
                <h1 class="display-4"><strong class="revealOnScroll" data-animation="right">Email</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="left">@Model.Email</i></h1>
                <br />

                <h2 class="display-5"><strong class="revealOnScroll" data-animation="right2">FullName</strong> <span class="revealOnScroll" data-animation="forms"> : </span><i class="revealOnScroll" data-animation="left2">@Model.FullName</i></h2>
                <br />

                <h2 class="display-5"><strong class="revealOnScroll" data-animation="right3">FeedBack</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="left3">@Model.FeedBack</i></h2>
                <br />


                @if (Model.AvatarUrl != null && Model.AvatarUrl != "")
                {
                    <img width="250" class="card-image-top img-fluid img-thumbnail forms" src="@Model.AvatarUrl" />
                }
                else
                {
                    <img width="250" class="card-image-top img-fluid img-thumbnail forms" src="~/images/blank-avatar.png" />
                }
                <br />
                <br />
                <br />

                @if (Model.DateOfBirth != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Date of Birth</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right">@Model.DateOfBirth</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Date of Birth</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.PhoneNumber != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Phone Number</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">@Model.PhoneNumber</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Phone Number</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">Not specified</i>
                    </h2>
                }

                <br />

            </div>

            <div class="revealOnScroll" data-animation="rollIn">
                <h1 class="display-3"><strong>Messages</strong></h1>
                <div class="card col-12 thumbnail">
                    <br />

                    @if (ViewBag.Messages.Count < 1)
                    {
                        <div class="noCommentsPresent">
                            <h3>No comments posted for this pet.</h3>
                        </div>
                    }
                    else
                    {

                        @foreach (var message in ViewBag.Messages)
                        {
                            <div class="card col-12 commentsContainer">

                                <br />
                                <h2 class="contentDiv">
                                    @message.Content
                                </h2>
                                <span>
                                    Created by
                                    <strong style="color: grey"><a style="font-size:20px" asp-controller="Users" asp-action="Profile" asp-route-id="@message.Sender.Id">@message.Sender.Email</a></strong>
                                    on
                                    <i>@message.CreationDate</i>
                                    <br />
                                    <br />

                                    @if (message.LikeDisabled == false)
                                    {
                                        <strong style="color: darkblue">
                                            <a class="btn btn-sm btn-success likeButton" data-url="@Url.Action("AddLike", "Messages", new { id = message.Id.ToString() })">Like</a>
                                        </strong>
                                    }
                                    else
                                    {
                                        <strong style="color: darkblue">
                                            <a class="btn btn-sm btn-danger removelikeButton" data-url="@Url.Action("RemoveLike", "Messages", new { id = message.Id.ToString() })">Remove Like</a>
                                        </strong>
                                    }
                                    :

                                    <i>@message.Likes.Count</i>

                                    <br />
                                </span>
                                <br />
                                @if (ViewData["isAdmin"].ToString() == "True" || this.User.Identity.Name == Model.Email)
                                {

                                    <a style="margin: 0 auto" class="deleteBtn btn btn-danger col-3" autocomplete="off" data-url="@Url.Action("RemoveMessage", "Users", new {messageId = message.Id} )">Delete Comment</a>

                                }
                                <br />
                                <br />
                            </div>
                        }
                    }
                    <br />
                </div>
            </div>

            <br />
            <br />

            <div class="revealOnScroll" data-animation="right">

                <div class="card-footer text-center">
                    <h1 class="display-3" style="background: lightgreen">Actions</h1>
                    <a class="btn btn-lg btn-primary col-3" asp-controller="Pets" asp-action="All">Home</a>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(".deleteBtn").click(function () {
            let deleteCommentUrl = $(this).data("url");
            $.get(deleteCommentUrl);
            $(this).parent().fadeOut();
        });
    </script>

    <script>
        $("body").on("click", ".likeButton", function () {
            let addLikeUrl = $(this).data("url");
            $.get(addLikeUrl);

            let commentId = addLikeUrl.split("/").slice(-1).pop()
            let currentLikes = Number($(this).parent().next()[0].innerText);
            let newLikes = currentLikes + 1;

            $(this).parent().next().replaceWith("<i class=\"commentLikes\">" + newLikes + "</i>");
            
            $(this).fadeOut(() => {
                $("<a class='btn btn-sm btn-danger removelikeButton' data-url='/Messages/RemoveLike/" + commentId + "'>Remove Like</a>").hide().appendTo($(this).parent()).fadeIn();
            });

        });
    </script>

    <script>
        $("body").on("click", ".removelikeButton", function () {

            let removeLikeUrl = $(this).data("url");
            $.get(removeLikeUrl);

            let commentId = removeLikeUrl.split("/").slice(-1).pop()
            
            let currentLikes = Number($(this).parent().next()[0].innerText);
            
            let newLikes = currentLikes - 1;
            
            $(this).parent().next().replaceWith("<i class=\"commentLikes\">" + newLikes + "</i>");
            
            $(this).fadeOut(() => {
                $("<a class='btn btn-sm btn-success likeButton' data-url='/Messages/AddLike/" + commentId + "'>Like</a>").hide().appendTo($(this).parent()).fadeIn();
            });

        });
    </script>

    <script src="~/js/scrolling-animations-functions.js"></script>
}