@model ICollection<Note>

@{ 
    ViewData["Title"] = "All Notes Page";
}

<h1>
    @ViewData["Title"]
</h1>
<br />

@foreach(Note note in Model) { 

<div>
    <h1>@note.Title</h1>
    <h2>@note.Content</h2>
    <h3>@note.CreationTime</h3>
    <h4>@note.Author.Username</h4>
    <hr />
</div>

}
