<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/../css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/../img/logo.png" alt="logo">
            </div>

            <nav>
                {{#if isAdmin}}
                
                {{else}}
                {{/if}}
                <a href="/">Main Page</a>
                <a href="/article/latest">Latest Article</a>
                <a href="/article/all">All Articles</a>

                <form method="POST" action="/article/search">
                    <input type="text" name="searchedWord" Placeholder="Search"/>
                    <input type="submit" >
                </form>

                {{#if isAuthenticated}}
                    <a href="/article/create">Create New Article</a>
                {{/if}}
            </nav>
        </aside>
        <div id="container">
            <header>
                {{#if isAuthenticated}}
                <span>Welcome {{role}}, {{username}}!</span>
                <a href="/user/logout">[Logout]</a>
                {{else}}
                <a href="/user/login">Login</a>
                <a href="/user/register">Register</a>
                {{/if}}
            </header>


            {{{body}}}


            <footer>
                SoftUni Wiki &copy; 2018
            </footer>
        </div>
    </div>
</body>

</html>