@page
@model FindMyPet.Web.Areas.Admin.Pages.PetsPages.AllUsersModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br /><h1 class="display-3 left">All User Profiles</h1><br /><table class="table right">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th class="thCol" scope="col">Full Name</th>
                        <th class="thCol" scope="col">FeedBack</th>
                        <th class="thCol" scope="col">Avatar</th>
                        <th class="thCol" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.AllUsers.Count; i++)
                    {
                        var user = Model.AllUsers[i]; var count = i + 1;
                        <tr>
                            <th scope="row">@count</th>
                            <th scope="row">@user.Email</th>
                            <td>@user.FullName</td>
                            <td>@user.FeedBack</td>

                            @if (@user.AvatarUrl != null)
                            {
                                <td><img class="tableAvatar" src="@user.AvatarUrl" alt="No Avatar" /></td>
                            }
                            else {
                                <td>No Avatar</td>
                            }
                            
                            <td class="tableDataRotate">
                                <a class="btn btn-primary tableDataRotate" asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id">Details</a> |

                                @if (user.LockoutEnd != null)
                                {

                                    if (user.LockoutEnd > DateTime.Now)
                                    {
                                        <a class="btn btn-success tableDataRotate" asp-controller="Users" asp-action="UnlockUser" asp-route-id="@user.Id">Free User</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger tableDataRotate" asp-controller="Users" asp-action="LockUser" asp-route-id="@user.Id">Lock User</a>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-danger tableDataRotate" asp-controller="Users" asp-action="LockUser" asp-route-id="@user.Id">Lock User</a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
