<tr>
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td>{{quantity}}</td>
    <td>{{totalPrice}}</td>
    <td><button onclick="window.location.href='#/discart/{{_id}}'">Discart</button></td>
</tr>