
@model CarsRentalSystem.Models.Cars.CarDetailModel
@using Microsoft.AspNet.Identity
<br />
<br />
<br />


@if (Model.IsRented == true)
{
    //TRQBVA DA NAPRAVIM TAKA CHE AKO KOLATA E VZETA POD NAEM DA NI IZPISHE SUOBSHTENIE
    <h2 class="text-center text-warning">This car is already rented...</h2>
}


<div class="row mt-60">
    
    <div class="col-md-4">
          <img src="@Model.ImageUrl" class="img-responsive"/>
    </div>
    
    <div class="col-md-4">    
        <h2 class="car-details">@Model.Brand @Model.Model @(Model.Color != null ? @Model.Color : string.Empty)</h2>
        <!--Vizualizirame markata i modela i posle ako cvetut ne e null go vizualizirame ako li ne pokazvame prazen string !-->
        <h3>Year: @Model.Year</h3>
        <h3>Price: @Model.PricePerDay (BNG/DAY)</h3>
        <h4> Total Rents : @Model.TotalRents.ToString()</h4>
        <p class="lead">
            <a href="mailto:@Model.ContactInformation">@Model.ContactInformation</a>
            <br />
            <br />
            <a class="btn btn-default" href="/Cars/All?=@Model.ContactInformation"> See All Cars By This User</a>
        </p>

     </div>

    <br />

    <div class="col-md-4">
        <p class="lead">
            @Model.Engine (@Model.EngineType)
        </p>
        <p class="lead">
          
            @if (Model.Power != null)
            {<!--Slagame if() zashtoto moje power da e nullable t.e. moje da = na null zashtoto ne e required !-->
                <span>@Model.Power hp.</span>
            }
             
        </p>
        
        <p>
            <!--Shte napravim dropdown list koito da ima ime, select list item-->

            @{ 
                // T OVA SHTE NI GENERIRA DROPDOWNa SUS DADENITE STOINOSTI TEXT,VALUE I DALI E SELEKTIRAN
                var options = new List<SelectListItem> {
                    //Pravim po edno za kolkoto dni moje PRAVIM GO DA MOJE NAI NMNOGO DO 10 DNI DA SE VZIMA KOLA !
                    new SelectListItem { Text = "1", Value = "1", Selected = true},
                    new SelectListItem { Text = "2", Value = "2", Selected = false},
                    new SelectListItem { Text = "3", Value = "3", Selected = false},
                    new SelectListItem { Text = "4", Value = "4", Selected = false},
                    new SelectListItem { Text = "5", Value = "5", Selected = false},
                    new SelectListItem { Text = "6", Value = "6", Selected = false},
                    new SelectListItem { Text = "7", Value = "7", Selected = false},
                    new SelectListItem { Text = "8", Value = "8", Selected = false},
                    new SelectListItem { Text = "9", Value = "9", Selected = false},
                    new SelectListItem { Text = "10", Value = "10", Selected = false},

                };
            }


            @if(@Model.CarOwner != User.Identity.Name)
            {
            //AKO KOLATA SI E NASHA DA NE MOJEM DA SI Q KUPIM, DA NQMAME FORMA


            <!--Trqbva ni forma koqto da izprashta tova kum survera :-->
            using (Html.BeginForm("Rent", "Cars", FormMethod.Get))
            {//actiona ni e Rent a kontrolera Cars

                // Trqbva da kajem koq kola shte rentvame
                // S HiddenFor() nie prashtame danni kum survera no ne iskame usera da gi vijda
                @Html.Hidden("CarId", Model.Id);

                <span>Rent this car for @Html.DropDownList("Days", options) days !</span>
                //Slagame go v span za da ne si misli che sme vuv C#
                <br />
                <input type="submit" class="btn btn-primary" @(Model.IsRented ? "disabled" : string.Empty) value="Rent !" />
                <!--ako kolata e rentnata pravim buton da e disabled ako ne tring empty-->
            }


            }



        </p>
        <br />
        <br />

    </div>

    <p class="lead">
        <!--buton za nashite koli-->
        <a class="btn btn-default" href="/Cars/All?user=@User.Identity.GetUserName()">See your own cars !</a>
    </p>
    <br />
    <!--Buton back-->
      <a href="/Cars/All?page=@(ViewBag.CurrentPage)" class="btn btn-primary" style="float:right"><< Back</a>
</div>
