
<section id="viewDetailsAd" class="viewDetailsAd">

    {{> header}}

    <img src="{{ad.linkToImage}}" />
    <br/>
    <label>Title:</label>
    <h1>{{ad.title}}</h1>
    <label>Description:</label>
    <p>{{ad.description}}</p>
    <label>Publisher:</label>
    <div>{{ad.publisher}}</div>
    <label>Date:</label>
    <div>{{ad.date}}</div>
    <label>Views:</label>
    <div>{{ad.views}}</div>

    {{> footer}}

</section>