@model DateTime

@using SumNumbers.Html_Helpers
@{
    ViewData["Title"] = "Home Page";
}

<br />
@ViewData["NewTitle"]
<br />
@TempData["Message"]
<br />
<p>Hello index View.</p>
<br />

<p>Html.ActionLink() We can pass parameters and more.</p>
@Html.ActionLink("Go to Contacts", "Contact", "Home")

<br />

@Html.HelloWorld("5");

<br />

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Year)
    <input type="text" name="Year" value="2018" />
}

<br />
<br />
This is uor own tagHelper
<message message-content="Hello world"></message>

<br />
<br />
<p>ABOUT PARTIAL VIEW CALLED !!!</p>
<partial name="About" />


@{
    //THis is new in ASP.NET CORE
    //@Component.InvokeAsync("MyComponent", new { Key = "Value" })
}
