@model FindMyPet.Models.Pet
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "Details";
    var context = new FindMyPet.Data.FindMyPetDbContext();
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <div class="titleDiv">
                <h1 class="display-3 revealOnScroll" data-animation="zoomInDown"><strong>Pet Details Page</strong></h1>
            </div>
            <br />
            <hr class="display-3" />
            <div>
                <br />
                <h2 class="display-4"><strong class="revealOnScroll" data-animation="right">Type</strong><span class="revealOnScroll" data-animation="forms"> : </span><i class="revealOnScroll" data-animation="left">@Model.Type</i></h2>
                <br />

                <br />
                <h2 class="display-5"><strong class="revealOnScroll" data-animation="right2">Name</strong><span class="revealOnScroll" data-animation="forms"> : </span><i class="revealOnScroll" data-animation="left2">@Model.Name</i></h2>
                <br />

                <br />
                <h2 class="display-5"><strong class="revealOnScroll" data-animation="right3">Status</strong><span class="revealOnScroll" data-animation="forms"> : </span><i class="revealOnScroll" data-animation="left3">@Model.Status</i></h2>
                <br />

                @if (Model.ImageUrl != null && Model.ImageUrl != "")
                {

                    <img class="revealOnScroll card-image-top img-fluid img-thumbnail" data-animation="jackInTheBox" data-timeout="600" src="@Model.ImageUrl" />
                }
                else
                {
                    <img class="card-image-top img-fluid img-thumbnail" data-animation="jackInTheBox" data-timeout="600" src="~/images/pet-lost-avatar.png" />
                }

                <br />
                <br />

                @if (Model.Age != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Age</strong> <span class="revealOnScroll" data-animation="forms"> : </span><i class="revealOnScroll" data-animation="right">@Model.Age</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Age</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.Breed != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Breed</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">@Model.Breed</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Breed</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.Color != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left3">Color</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right3">@Model.Color</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left3">Color</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right3">Not specified</i>
                    </h2>
                }
                <br />

                @if (Model.Gender != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Gender</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right">@Model.Gender</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Gender</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.LocationLost != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Location Lost</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">@Model.LocationLost</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Location Lost</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.TimeLost != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left3">Time Lost</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right3">@Model.TimeLost</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left3">Time Lost</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right3">Not spcified</i>
                    </h2>
                }

                <br />

                @if (Model.TimeFound != null && Model.TimeFound != new DateTime(0001, 01, 01, 0, 00, 00))
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Time Found</strong> <span class="revealOnScroll" data-animation="forms"> : </span>  <i class="revealOnScroll" data-animation="right">@Model.TimeFound</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left">Time Found</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right">Not spcified</i>
                    </h2>
                }

                <br />

                @if (Model.Founder != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Founder</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">@Model.Founder.FullName</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left2">Founder</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right2">Not Found Yet</i>
                    </h2>
                }

                <br />

                @if (Model.Owner != null)
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left3">Owner</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right3">@Model.Owner.Email</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="revealOnScroll" data-animation="left3">Owner</strong> <span class="revealOnScroll" data-animation="forms"> : </span> <i class="revealOnScroll" data-animation="right3">Not Specified</i>
                    </h2>
                }
                <br />
            </div>

            <div class="revealOnScroll" data-animation="left">
                <h2>
                    <strong>Comments</strong>
                </h2>
                <div class="card col-12 commentsContainer">
                    <br />

                    @if (Model.Comments.Count < 1)
                    {
                        <div>
                            <h3 class="noCommentsPresent">No comments posted for this pet.</h3>
                            <br />
                            <br />
                        </div>
                    }
                    else
                    {
                        @foreach (var comment in ViewBag.Comments)
                        {
                            <div>
                                <h2 class="contentDiv">
                                    @comment.Content
                                </h2>
                                <span>
                                    Created by
                                    <strong class="profile"><a class="profileLink" asp-area="Admin" asp-controller="Users" asp-action="Profile" asp-route-id="@comment.Creator.Id">@comment.Creator.Email</a></strong>
                                    on
                                    <i>@comment.CreationDate</i>
                                    <br />
                                    <br />

                                    @if (comment.LikeDisabled == false)
                                    {
                                        <strong style="color: darkblue">
                                            <a class="btn btn-sm btn-success likeButton" data-url="@Url.Action("AddLike", "Comments", new {Area = "Admin", id = comment.Id.ToString()})">Like</a>
                                        </strong>
                                    }
                                    else
                                    {
                                        <strong style="color: darkblue">
                                            <a class="btn btn-sm btn-danger removelikeButton" data-url="@Url.Action("RemoveLike", "Comments", new {Area = "Admin", id = comment.Id.ToString()})">Remove Like</a>
                                        </strong>
                                    }
                                    :
                                    <i class="commentLikes">@comment.Likes.Count</i>
                                </span>
                                <br />
                                <br />
                                @if (this.User.Identity.Name == comment.Creator.Email || ViewData["isAdmin"].ToString() == "True")
                                {
                                    <a style="margin: 0 auto" class="deleteBtn btn btn-danger col-3" autocomplete="off" data-url="@Url.Action("RemoveCommentFromPet", "Pets", new {Area = "Admin", commentId = comment.Id} )">
                                        Delete Comment
                                    </a>
                                }
                                <br />
                                <br />
                            </div>
                        }
                    }

                </div>
            </div>

            <br />

            <div class="revealOnScroll" data-animation="right">
                <form>
                    <h2 class=""><strong>Add Comment</strong></h2>
                    <div class="form-group row">
                        <textarea class="form-control commentDescription" name="Description" placeholder="Enter Comment"
                                  minlength="10" required></textarea>
                    </div>

                    <input type="button" id="btn-add-pet" data-url="@Url.Action("AddCommentToPet", "Pets", new { Area = "Admin", id = Model.Id})" class="btn btn-success btn-lg btn-block" value="Add Comment" />
                </form>
            </div>
            <br />
            <br />

            <div class="revealOnScroll" data-animation="bottom">
                <div class="card-footer text-center">
                    <h1 class="display-3">Actions</h1>
                    <hr />
                    <a class="btn btn-lg btn-primary col-3" asp-area="Admin" asp-controller="Pets" asp-action="All">Back</a>
                    @if (Model.Status == "Lost")
                    {
                        <a class="btn btn-lg btn-success col-3" asp-area="Admin" asp-controller="Pets" asp-action="PetFound" asp-route-id="@Model.Id">Found</a>
                    }

                    @if (this.User.Identity.Name == Model.Owner.Email || ViewData["isAdmin"].ToString() == "True")
                    {
                        <a class="btn btn-lg btn-warning col-3" asp-area="Admin" asp-route-id="@Model.Id" asp-page="/PetsPages/Edit">Edit</a>
                        <a class="btn btn-lg btn-danger col-3" asp-area="Admin" asp-route-id="@Model.Id" asp-page="/PetsPages/Delete">Delete</a>
                    }
                </div>

                <br />
                <br />
            </div>
        </div>
    </div>
</div>


@section Scripts {


    <script>
        $("#btn-add-pet").click(function () {

            let addCommentUrl = $(this).data("url");

            let id = Number(addCommentUrl.split("/").pop());

            let Description = $('.commentDescription').val();
            
            $('.commentDescription').val('');

            $.get(addCommentUrl,
                    {
                    Description: Description,
                    id: id
                }).then((res) => {
                    
                    let currentComment = "";

                    $.ajax({
                        url: '/Admin/Comments/GetLastComment',
                        method: 'GET',
                        dataType: "json",
                        success: function (currentComment) {
                            
                        $(".noCommentsPresent").fadeOut();
                            
                    $('.commentsContainer')
                        .append(
                         "<div>"
                            + "<h2 class=\"contentDiv\">"
                                + Description
                            + "</h2>"
                        + "<span> Created by "
                        + "<strong class=\"profile\">"
                            + "<a class='profileLink' href='/Admin/Users/Profile/@ViewData["CurrentUserId"]'>@this.User.Identity.Name</a>"
                        + "</strong> on "
                        + "<i>" + new Date().toLocaleDateString('en-gb') + " " + new Date().toLocaleTimeString('en-gb') + "</i><br/><br/>"

                        + "<strong style='color:darkblue'>"
                        + "<a class='btn btn-sm btn-success likeButton' data-url='/Admin/Comments/AddLike/" + currentComment.id + "'>Like</a>"
                            + "</strong>"
                            + ":"
                            + "<i class=\"commentLikes\">0</i>"
                        + "</span><br/><br/>"
                        + "<a style='margin: 0 auto' class='deleteBtn btn btn-danger col-3' autocomplete='off' data-url='/Admin/Pets/RemoveCommentFromPet?commentId=" + currentComment.id + "'>Delete Comment<a></strong>"

                        +"<br /><br /></div>");

                        },
                        error : (err) => console.log(err)
                    })
                });
        });


    </script>

    <script>
        
        $("body").on("click", ".deleteBtn", function () {
            let deleteCommentUrl = $(this).data("url");
            $.get(deleteCommentUrl);
            $(this).parent().fadeOut();
        });
        
    </script>

    <script>

        $("body").on("click", ".likeButton", function () {
            let addLikeUrl = $(this).data("url");
            $.get(addLikeUrl);

            let commentId = addLikeUrl.split("/").slice(-1).pop()
            let currentLikes = Number($(this).parent().next()[0].innerText);
            let newLikes = currentLikes + 1;

            $(this).parent().next().replaceWith("<i class=\"commentLikes\">" + newLikes + "</i>");
            
            $(this).fadeOut(() => {
                $("<a class='btn btn-sm btn-danger removelikeButton' data-url='/Admin/Comments/RemoveLike/" + commentId + "'>Remove Like</a>").hide().appendTo($(this).parent()).fadeIn();
            });
        });

    </script>

    <script>

        $("body").on("click", ".removelikeButton", function () {

            let removeLikeUrl = $(this).data("url");

            $.get(removeLikeUrl);

            let commentId = removeLikeUrl.split("/").slice(-1).pop()
            
            let currentLikes = Number($(this).parent().next()[0].innerText);
            
            let newLikes = currentLikes - 1;
            
            $(this).parent().next().replaceWith("<i class=\"commentLikes\">" + newLikes + "</i>");

            $(this).fadeOut(() => {
                $("<a class='btn btn-sm btn-success likeButton'  data-url='/Admin/Comments/AddLike/" + commentId + "'>Like</a>").hide().appendTo($(this).parent()).fadeIn();
            });
        });

    </script>

    <script src="~/js/scrolling-animations-functions.js"></script>
}
