@model FindMyPet.Web.Models.BindingModels.PetFoundBindingModel
@{
    ViewData["Title"] = "PetFound";
}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <div class="titleDiv">
                <h1 class="display-3 classTitle">Are you sure you found this pet ?</h1>
            </div>
            <br />
            <hr class="display-3" />

            <div class="forms">

                <img width="500" class="card-image-top img-fluid img-thumbnail" src="@Model.ImageUrl" />
                <br />
                <br />

                <h2 class="display-5"><strong>Type</strong> : @Model.Type</h2>
                <br />

                <h2 class="display-4"><strong>Name</strong> : @Model.Name</h2>
                <br />

                <h2 class="display-5"><strong>Location Lost</strong> : @Model.LocationLost</h2>
                <br />

                <h2 class="display-5"><strong>Time Lost</strong> : @Model.TimeLost</h2>
                <br />

                <form method="post" asp-controller="Pets" asp-action="PetFoundPost" asp-route-id="@Model.Id">

                    <input type="submit" id="btn-add-game" class="btn btn-success btn-lg btn-block" value="Yes" />
                    <a id="btn-add-game" href="/Pets/All" class="btn btn-primary btn-lg btn-block">No</a>
                </form>
            </div>
        </div>
    </div>
</div>



