@model FindMyPet.Web.Models.BindingModels.PetFoundBindingModel
@{
    ViewData["Title"] = "PetFound";
}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <div class="revealOnScroll" data-animation="zoomInDown">
                <h1 class="display-3">Are you sure you found this pet ?</h1>
            </div>
            <br />
            <hr class="display-3" />
            <div>
                <img width="500" class="card-image-top img-fluid img-thumbnail forms" src="@Model.ImageUrl" />
                <br />
                <br />
                <br />
                <h2 class="display-4">
                    <strong class="revealOnScroll" data-animation="right">Type</strong>
                    <span class="revealOnScroll" data-animation="forms"> : </span>
                    <i class="revealOnScroll" data-animation="left">@Model.Type</i>
                </h2>
                <br />

                <br />
                <h2 class="display-5">
                    <strong class="revealOnScroll" data-animation="right2">Name</strong>
                    <span class="revealOnScroll" data-animation="forms"> : </span>
                    <i class="revealOnScroll" data-animation="left2">@Model.Name</i>
                </h2>
                <br />

                <h2>
                    <strong class="revealOnScroll" data-animation="left2">Location Lost</strong>
                    <span class="revealOnScroll" data-animation="forms"> : </span>
                    <i class="revealOnScroll" data-animation="right2">@Model.LocationLost</i>
                </h2>
                <br />

                <h2>
                    <strong class="revealOnScroll" data-animation="left3">Time Lost</strong>
                    <span class="revealOnScroll" data-animation="forms"> : </span>
                    <i class="revealOnScroll" data-animation="right3">@Model.TimeLost</i>
                </h2>

                <br />
                <br />
                <form method="post" asp-area="Admin" asp-controller="Pets" asp-action="PetFoundPost" asp-route-id="@Model.Id">

                    <button type="submit" id="btn-add-game" class="right btn btn-success btn-lg btn-block" data-timeout="100">Yes <i class="fa fa-check"></i></button>
                    <a id="btn-add-game" href="/Admin/Pets/All" class="left btn btn-primary btn-lg btn-block"  data-timeout="100">No <i class="fa fa-times-circle"></i></a>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/scrolling-animations-functions.js"></script>
}
