    <div class="content">
        <img src="{{{poster}}}" alt="No image avaliable"/>
        <h1>{{{title}}}</h1>
        <h3>By {{{author}}}</h3>
        <h3>Released {{{year}}}</h3>

        <a href="/book/delete/{{{id}}}">Delete book</a>
    </div>    
