@using FDMC.Models;

@model Cat
@{
    Layout = "_Layout";
}
<br />
<div class="container-fluid">

    <h1>@Model.Name</h1>
    <br />
    <img src="@Model.ImageUrl" width="300" alt="Picture for @Model.Name" />
    <br />
    <br />
    <p><strong>Age : @Model.Age</strong></p>
    <br />
    <p><strong>Breed : @Model.Breed</strong></p>

</div>
