@using BookLibrary.Models;
@using BookLibrary.Web.Pages.Models;
@using System.Collections.Generic;
@using System.Linq;

@model List<Movie>
@{
    Layout = "_Layout";
}


<h1>All Movies</h1>

<a class="btn btn-success my-2 my-sm-0" href="/Movies/Add">Add New Movie</a>
<br />
<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Director</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Movie movie in Model)
            {
                @if (movie.Status == "Borrowed")
                {
                    <tr>
                        <td><a href="/movies/details/@movie.Id">@movie.Title</a></td>
                        <td><a href="/movies/directorDetails/@movie.DirectorId">@movie.Director.Name</a></td>
                        <td class="" borrowed"">@movie.Status</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><a href="/movies/details/@movie.Id" asp-route-id="@movie.Id">@movie.Title</a></td>
                        <td><a href="/movies/directorDetails/@movie.DirectorId" asp-route-id="@movie.DirectorId">@movie.Director.Name</a></td>
                        <td>@movie.Status</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

