@model BookLibrary.Web.BindingModels.MovieDetailsBindingModel
@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h2>Movie Details</h2>

<br />
<br />
<div class="container" style="height:400px">
    <div style="float:left; padding:0px 25px">
        <img width="300" src="@Model.CoverImage" alt="Image @Model.Title" />
    </div>
    <div>
        <h1>@Model.Title</h1>
        <h2>by @Model.Director.Name</h2>
        <p>@Model.Description</p>
        <p><strong>status:</strong>@Model.Status</p>
    </div>

    @{
        if (Model.Status != "Borrowed")
        {
            <a href="/Movies/Borrow/@Model.Id" class="btn btn-outline-success">Borrow this movie</a>
        }
    }
</div>
