@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>

        @if(Model.ImagePath != null || Model.ImagePath == string.Empty){ 
            // ako imagePath ne e null ili imame prazen ImagePath t.e. empty.String
            <img src="@Model.ImagePath" style="width:250px" />
            <!--Ako nqma takava snimka da izpise Article Image-->
        }
        

        <small class="author">
            --author @Model.Author.FullName
        </small>
        <footer class="pull-right">

            @if(User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name)){
                //Ako usera e admin ili imeto na usera e sushtoto kato tova na avtora da se vijdat butonite

                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }

            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
<hr />
